body{background-image: linear-gradient(to right, #000000, #000000) !important;}

body > div,
body > div > div,
body > div > div > .ui.grid {
  height: 100%;
}

.photo {
    height: 200px;
    width: 200px;
  }