
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #000000, #000000) !important;
  
  padding: 15px;
  font-size: 15px;
  color: rgb(13, 236, 236);
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



 
 

.titulo {
  padding: 15px;
  font-size: 1em;
  background-color: #ee6408;
  width: auto;
}

 
 

table {
  width: auto;
}

table,
th,
td {
  color: whitesmoke;
  border: solid 1px rgba(243, 9, 9, 0.877);
  border-collapse: collapse;
  margin: 12px;
  padding: 6px;;
  text-align: center;   
  margin: auto;
  background-color:rgba(243, 9, 9, 0.877);}

input {
  text-align: center;
 
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 50;
  padding: 9px 0;
  width: 215px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #e97407 !important;
  box-shadow: none;
}

button {
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 12px;
  padding: 12px 12px;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(5, 238, 24, 0.884), 0 6px 20px 0 rgba(239, 240, 241, 0.747);
  text-align: center;
  border-radius: 3px;
  transition: 0.25s;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  color: rgba(75, 74, 73, 0.89);
}

button.eliminar {
  background: #e90505;
}

button.eliminar:hover {
  background-color: #a55b06dc;
}

button.agregar {
  background: #e42f89;
}

button.agregar:hover {
  background-color: #1d0d66ee;
}

button.guardar {
  background: #0bbf34;
}

button.guardar:hover {
  background-color: #19551cf3;
}

.nav {
  width: auto;
  height: 60px;
  margin: 0 auto;
  border-radius: 5px;
}

ul li {
  list-style: none;
  width: flex;
  line-height: 60px;
  position: relative;
  text-align: center;
  float: left;
  background-color: #f00c0c;
}

ul li ul {
  position: absolute;
}

.nav>ul>li:nth-of-type(1) {
  border-radius: 5px 0px 0px 5px;
}

.nav>ul>li:nth-of-type(5) {
  border-radius: 0px 5px 5px 0px;
}

ul li a {
  color: #fff;
  width: 150px;
  height: 58px;
  display: inline-block;
  text-decoration: none;
}

ul li a:hover {
  font-weight: bold;
  color: #f31212;
  background-color: mintcream;
}

ul li ul {
  display: none;
}

.nav ul li:hover ul {
  display: block;
}

.fa {
  margin-right: 5px;
}


 
p {
  font-family: "FontAwesome", sans-serif;
  font-size: 200%;
}